:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    background-color: #242424;
    color: #f0f0f0;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;

    /* A fall-back if the video background doesn't load */
    /* background-image: url('../images/cyber-wave.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    z-index: -2; */
}
.bg-video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .background-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.status-section {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.answer-section {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.answer-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    /* border-radius: 5px; */
    font-weight: bold;
    font-size: 18px;
    color: #f0f0f0;
    border-bottom: 3px solid #666;
    width: 40px;
    height: 40px;
}

.unguessed-letter {
    background-color: #444;
    color: #f0f0f0;
    border: none;
    margin: 2px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.guessed-correctly-letter {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    margin: 2px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
.guessed-incorrectly-letter {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    margin: 2px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.dead-language-tile,
.living-language-tile {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
.dead-language-tile {
    opacity: 0.4;
    text-decoration: line-through;
}

.new-game-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}